.App {
  justify-content: center;
  /* margin-top: 5%; */
  

}

/* .mapFather > div {
margin-top: 7%;
height: 70% !important;
width: 60% !important;
} */

.Mapa{
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.Mapa > div > div {
  left: 0;
}

.login{
  display: flex;
  justify-content: center;
}

.signup{
  display: flex;
  justify-content: center;
}

.botonContacta{
  justify-content: center;
}



