.App {
  justify-content: center;
  /* margin-top: 5%; */
  

}

.mapFather > div {
margin-top: 7%;
height: 70% !important;
width: 60% !important;
}

.Mapa{
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.login{
  display: flex;
  justify-content: center;
}